@mixin link {
 text-decoration: none;
 padding-left: 5px;
 font-size: 14px;
}

@mixin clock-date {
 margin-top: 10px;
  #clock {
    color: grey;
    padding-right: 3px;
    font-size: 13px;
  }
  #date{
    padding-right: 5px;
    font-size: 14px;
    color: $grey-secondary;

  }
 
}